body {
    background-color: black;
    color:silver;
}

.Flex_center_column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.UserDiv {
    display: flex;
    padding: 10px;
}
.UserDiv div{
    margin:10px;
}

#DivUserList {
    
    display: flex;
    flex-direction: column;
    padding: 0px;
}
#DivUserList div {
    
    height: 100%;
    margin: 0px;
}
.UserDiv div {
    border-style: solid;
    display: flex;
    align-items: center;
    flex-direction: center;
    
    height: 100%;
    padding:10px;
    margin:0px;
}
.DivPrenomStyle {
    /* background-color: aqua; */
    min-width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DivNomStyle {
    min-width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}