body {
    background-color: black;
    color:silver;
}

.Flex_center_column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.UserDiv {
    display: flex;
    padding: 10px;
}
.UserDiv div{
    margin:10px;
}

#DivUserList {
    display: flex;
    flex-direction: column;
}